In [142]:
# imports
import os
import numpy 
import pandas as pd
import matplotlib.pyplot as plt

In [143]:
# read datafiles into dataframes
# TCGA-KIRC
df_kirc = {}
nf_kirc = 0
for filename in os.listdir("./TCGAdata/TCGA-KIRC/KIRC/"):
    if filename.endswith(".txt"):
        df_kirc[nf_kirc] = pd.read_csv("./TCGAdata/TCGA-KIRC/KIRC/" + filename, sep=" ", delimiter="\t")
        nf_kirc = nf_kirc + 1
print("Total number of KIRC files: ", nf_kirc)

# TCGA-BRCA
df_brca = {}
nf_brca = 0
for filename in os.listdir("./TCGAdata/TCGA-BRCA/BRCA/"):
    if filename.endswith(".txt"):
        df_brca[nf_brca] = pd.read_csv("./TCGAdata/TCGA-BRCA/BRCA/" + filename, sep=" ", delimiter="\t")
        nf_brca = nf_brca + 1
print("Total number of BRCA files: ", nf_brca)

# TCGA-COAD
df_coad = {}
nf_coad = 0
for filename in os.listdir("./TCGAdata/TCGA-COAD/COAD/"):
    if filename.endswith(".txt"):
        df_coad[nf_coad] = pd.read_csv("./TCGAdata/TCGA-COAD/COAD/" + filename, sep=" ", delimiter="\t")
        nf_coad = nf_coad + 1
print("Total number of COAD files: ", nf_coad)

# TCGA-GBM
df_gbm = {}
nf_gbm = 0
for filename in os.listdir("./TCGAdata/TCGA-GBM/GBM/"):
    if filename.endswith(".txt"):
        df_gbm[nf_gbm] = pd.read_csv("./TCGAdata/TCGA-GBM/GBM/" + filename, sep=" ", delimiter="\t")
        nf_gbm = nf_gbm + 1
print("Total number of GBM files: ", nf_gbm)

# TCGA-KIRP
df_kirp = {}
nf_kirp = 0
for filename in os.listdir("./TCGAdata/TCGA-KIRP/KIRP/"):
    if filename.endswith(".txt"):
        df_kirp[nf_kirp] = pd.read_csv("./TCGAdata/TCGA-KIRP/KIRP/" + filename, sep=" ", delimiter="\t")
        nf_kirp = nf_kirp + 1
print("Total number of KIRP files: ", nf_kirp)

# TCGA-LUAD
df_luad = {}
nf_luad = 0
for filename in os.listdir("./TCGAdata/TCGA-LUAD/LUAD/"):
    if filename.endswith(".txt"):
        df_luad[nf_luad] = pd.read_csv("./TCGAdata/TCGA-LUAD/LUAD/" + filename, sep=" ", delimiter="\t")
        nf_luad = nf_luad + 1
print("Total number of LUAD files: ", nf_luad)

# TCGA-LUSC
df_lusc = {}
nf_lusc = 0
for filename in os.listdir("./TCGAdata/TCGA-LUSC/LUSC/"):
    if filename.endswith(".txt"):
        df_lusc[nf_lusc] = pd.read_csv("./TCGAdata/TCGA-LUSC/LUSC/" + filename, sep=" ", delimiter="\t")
        nf_lusc = nf_lusc + 1
print("Total number of LUSC files: ", nf_lusc)

# TCGA-OV
df_ov = {}
nf_ov = 0
for filename in os.listdir("./TCGAdata/TCGA-OV/OV/"):
    if filename.endswith(".txt"):
        df_ov[nf_ov] = pd.read_csv("./TCGAdata/TCGA-OV/OV/" + filename, sep=" ", delimiter="\t")
        nf_ov = nf_ov + 1
print("Total number of OV files: ", nf_ov)

# TCGA-READ
df_read = {}
nf_read = 0
for filename in os.listdir("./TCGAdata/TCGA-READ/READ/"):
    if filename.endswith(".txt"):
        df_read[nf_read] = pd.read_csv("./TCGAdata/TCGA-READ/READ/" + filename, sep=" ", delimiter="\t")
        nf_read = nf_read + 1
print("Total number of READ files: ", nf_read)

# TCGA-UCEC
df_ucec = {}
nf_ucec = 0
for filename in os.listdir("./TCGAdata/TCGA-UCEC/UCEC/"):
    if filename.endswith(".txt"):
        df_ucec[nf_ucec] = pd.read_csv("./TCGAdata/TCGA-UCEC/UCEC/" + filename, sep=" ", delimiter="\t")
        nf_ucec = nf_ucec + 1
print("Total number of UCEC files: ", nf_ucec)

Total number of KIRC files:  72
Total number of BRCA files:  590
Total number of COAD files:  174
Total number of GBM files:  483
Total number of KIRP files:  16
Total number of LUAD files:  32
Total number of LUSC files:  155
Total number of OV files:  562
Total number of READ files:  72
Total number of UCEC files:  54

In [144]:
df_kirc[0]

,Hybridization REF,TCGA-A3-3306-01A-01R-0864-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.519583333333333
2,CREB3L1,-1.13275
3,RPS11,1.328375
4,PNMA1,-0.798
...,...,...
17810,PIK3IP1,2.32825
17811,SLC39A6,-1.38
17812,SNRPD2,0.358
17813,AQP7,-0.225
17814,CTSC,0.5841

In [145]:
# drop first row and check the number of columns
for i in range(nf_kirc):
    df_kirc[i] = df_kirc[i].drop(df_kirc[i].index[0])
    df_kirc[i] = df_kirc[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_kirc[i].shape[0] != 17814 or df_kirc[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [146]:
df_kirc[0]

      Hybridization REF TCGA-A3-3306-01A-01R-0864-07
0                15E1.2                       -2.328
1                2'-PDE                   -0.6748125
2                   7A5                       2.9785
3                  A1BG            -1.13666666666667
4                 A2BP1            -1.35366666666667
...                 ...                          ...
17809        tcag7.1136                      3.53175
17810        tcag7.1260                      -0.8455
17811        tcag7.1314                      2.30975
17812          tcag7.23                       0.4515
17813         tcag7.350                     -0.84975

[17814 rows x 2 columns]

In [147]:
df_brca[0]

,Hybridization REF,TCGA-AO-A03P-01A-11R-A00Z-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,1.21941666666667
2,CREB3L1,-0.15225
3,RPS11,2.193375
4,PNMA1,-0.21875
...,...,...
17810,PIK3IP1,1.68925
17811,SLC39A6,2.3849
17812,SNRPD2,-0.3681
17813,AQP7,-0.25
17814,CTSC,-1.201

In [148]:
# drop first row and check the number of columns
for i in range(nf_brca):
    df_brca[i] = df_brca[i].drop(df_brca[i].index[0])
    df_brca[i] = df_brca[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_brca[i].shape[0] != 17814 or df_brca[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [149]:
df_brca[0]

      Hybridization REF TCGA-AO-A03P-01A-11R-A00Z-07
0                15E1.2                     -0.81825
1                2'-PDE                    0.4745625
2                   7A5                      -1.3225
3                  A1BG            0.578166666666667
4                 A2BP1                       -0.406
...                 ...                          ...
17809        tcag7.1136                       -1.606
17810        tcag7.1260                      -2.3675
17811        tcag7.1314                      0.66675
17812          tcag7.23                        1.585
17813         tcag7.350                      -0.7825

[17814 rows x 2 columns]

In [150]:
df_coad[0]

,Hybridization REF,TCGA-AA-3520-01A-01R-0821-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.840833333333333
2,CREB3L1,1.333
3,RPS11,1.4755
4,PNMA1,-1.39075
...,...,...
17810,PIK3IP1,0.61325
17811,SLC39A6,-3.5244
17812,SNRPD2,0.7655
17813,AQP7,-0.156
17814,CTSC,0.9819

In [151]:
# drop first row and check the number of columns
for i in range(nf_coad):
    df_coad[i] = df_coad[i].drop(df_coad[i].index[0])
    df_coad[i] = df_coad[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_coad[i].shape[0] != 17814 or df_coad[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [152]:
df_coad[0]

      Hybridization REF TCGA-AA-3520-01A-01R-0821-07
0                15E1.2                        0.017
1                2'-PDE                        0.716
2                   7A5                       2.6685
3                  A1BG            -1.35816666666667
4                 A2BP1                       -0.529
...                 ...                          ...
17809        tcag7.1136                      0.23325
17810        tcag7.1260                         1.29
17811        tcag7.1314                       0.8765
17812          tcag7.23                        0.156
17813         tcag7.350                        -0.31

[17814 rows x 2 columns]

In [153]:
df_gbm[0]

,Hybridization REF,TCGA-02-0269-01B-01R-0282-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,0.1990625
2,CREB3L1,0.7045
3,RPS11,0.8316
4,PNMA1,1.6632
...,...,...
17810,PIK3IP1,0.0195
17811,SLC39A6,-3.05742857142857
17812,SNRPD2,0.510230769230769
17813,AQP7,0.762
17814,CTSC,-1.92253846153846

In [154]:
# drop first row and check the number of columns
for i in range(nf_gbm):
    df_gbm[i] = df_gbm[i].drop(df_gbm[i].index[0])
    df_gbm[i] = df_gbm[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_gbm[i].shape[0] != 17814 or df_gbm[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [155]:
df_gbm[0]

      Hybridization REF TCGA-02-0269-01B-01R-0282-07
0                15E1.2                       -1.897
1                2'-PDE                      -0.4544
2                   7A5            -1.48433333333333
3                  A1BG                     0.658375
4                 A2BP1                      0.37725
...                 ...                          ...
17809        tcag7.1136                       0.8216
17810        tcag7.1260            -1.54133333333333
17811        tcag7.1314                       1.6446
17812          tcag7.23                       -0.257
17813         tcag7.350                      -1.7408

[17814 rows x 2 columns]

In [156]:
df_kirp[0]

,Hybridization REF,TCGA-AL-3467-01A-01R-1193-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.15375
2,CREB3L1,-1.14175
3,RPS11,0.76975
4,PNMA1,1.188
...,...,...
17810,PIK3IP1,-1.6785
17811,SLC39A6,-2.5261
17812,SNRPD2,0.837
17813,AQP7,-0.628
17814,CTSC,2.763

In [157]:
# drop first row and check the number of columns
for i in range(nf_kirp):
    df_kirp[i] = df_kirp[i].drop(df_kirp[i].index[0])
    df_kirp[i] = df_kirp[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_kirp[i].shape[0] != 17814 or df_kirp[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [158]:
df_kirp[0]

      Hybridization REF TCGA-AL-3467-01A-01R-1193-07
0                15E1.2                     -1.25025
1                2'-PDE                     -0.39725
2                   7A5                      -2.9545
3                  A1BG            0.492333333333333
4                 A2BP1             5.20366666666667
...                 ...                          ...
17809        tcag7.1136                     -2.92475
17810        tcag7.1260                        -1.23
17811        tcag7.1314                       2.2925
17812          tcag7.23                        0.246
17813         tcag7.350                       0.0305

[17814 rows x 2 columns]

In [159]:
df_luad[0]

                            barcode gene symbol     value
0      TCGA-05-4244-01A-01R-1107-07      15E1.2 -0.309500
1      TCGA-05-4244-01A-01R-1107-07      2'-PDE -0.078643
2      TCGA-05-4244-01A-01R-1107-07         7A5  1.292000
3      TCGA-05-4244-01A-01R-1107-07        A1BG -2.049833
4      TCGA-05-4244-01A-01R-1107-07       A2BP1 -1.426000
...                             ...         ...       ...
17809  TCGA-05-4244-01A-01R-1107-07  tcag7.1136 -1.130333
17810  TCGA-05-4244-01A-01R-1107-07  tcag7.1260 -1.021000
17811  TCGA-05-4244-01A-01R-1107-07  tcag7.1314  2.259250
17812  TCGA-05-4244-01A-01R-1107-07    tcag7.23 -0.817500
17813  TCGA-05-4244-01A-01R-1107-07   tcag7.350 -0.543750

[17814 rows x 3 columns]

In [160]:
# drop the first column
for i in range(nf_luad):
    df_luad[i] = df_luad[i].drop(columns=['barcode'])
    df_luad[i] = df_luad[i].sort_values(by=['gene symbol']).reset_index(drop=True)

In [161]:
# check the number of columns
for i in range(nf_luad):
    if df_luad[i].shape[0] != 17814 or df_luad[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [162]:
df_luad[0]

      gene symbol     value
0          15E1.2 -0.309500
1          2'-PDE -0.078643
2             7A5  1.292000
3            A1BG -2.049833
4           A2BP1 -1.426000
...           ...       ...
17809  tcag7.1136 -1.130333
17810  tcag7.1260 -1.021000
17811  tcag7.1314  2.259250
17812    tcag7.23 -0.817500
17813   tcag7.350 -0.543750

[17814 rows x 2 columns]

In [163]:
df_lusc[0]

,Hybridization REF,TCGA-21-1070-01A-01R-0692-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.273833333333333
2,CREB3L1,0.26875
3,RPS11,0.04475
4,PNMA1,-0.7415
...,...,...
17810,PIK3IP1,2.91525
17811,SLC39A6,-2.5167
17812,SNRPD2,0.4857
17813,AQP7,-0.8525
17814,CTSC,1.3731

In [164]:
df_lusc[136]

          ELMO2  0.0691666666666667
0       CREB3L1             0.40775
1         RPS11             0.50875
2         PNMA1             0.84575
3          MMP2            -0.06000
4      C10orf90            -1.64650
...         ...                 ...
17808   PIK3IP1             1.36800
17809   SLC39A6            -1.38750
17810    SNRPD2             0.97380
17811      AQP7             0.22050
17812      CTSC             2.10570

[17813 rows x 2 columns]

In [165]:
# check the number of columns
for i in range(nf_lusc):
    if df_lusc[i].shape[0] != 17815 or df_lusc[i].shape[1] != 2:
        print('mismatch at ', i)
        break

mismatch at  136

In [166]:
df_lusc_temp = pd.DataFrame({'Hybridization REF' : ['Hybridization REF', 'Composite Element REF', 'ELMO2'],
                             'TCGA' : ['TCGA', 'log2', 0.0691666666666667 ]}, index = [0, 1, 2])
df_lusc_header = df_lusc_temp.iloc[0]
df_lusc_temp = df_lusc_temp[1:]
df_lusc_header

Hybridization REF    Hybridization REF
TCGA                              TCGA
Name: 0, dtype: object

In [167]:
df_lusc[136] = df_lusc[136].rename(columns=df_lusc_header)

In [168]:
df_lusc[136].columns = df_lusc_header
df_lusc[136]

0     Hybridization REF     TCGA
0               CREB3L1  0.40775
1                 RPS11  0.50875
2                 PNMA1  0.84575
3                  MMP2 -0.06000
4              C10orf90 -1.64650
...                 ...      ...
17808           PIK3IP1  1.36800
17809           SLC39A6 -1.38750
17810            SNRPD2  0.97380
17811              AQP7  0.22050
17812              CTSC  2.10570

[17813 rows x 2 columns]

In [169]:
df_lusc[136] = df_lusc_temp.append(df_lusc[136]).reset_index(drop=True)

In [170]:
df_lusc[136]

0          Hybridization REF       TCGA
0      Composite Element REF       log2
1                      ELMO2  0.0691667
2                    CREB3L1    0.40775
3                      RPS11    0.50875
4                      PNMA1    0.84575
...                      ...        ...
17810                PIK3IP1      1.368
17811                SLC39A6    -1.3875
17812                 SNRPD2     0.9738
17813                   AQP7     0.2205
17814                   CTSC     2.1057

[17815 rows x 2 columns]

In [171]:
# drop first row
for i in range(nf_lusc):
    df_lusc[i] = df_lusc[i].drop(df_lusc[i].index[0])
    df_lusc[i] = df_lusc[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)

In [172]:
df_lusc[136]

0     Hybridization REF      TCGA
0                15E1.2   1.70825
1                2'-PDE -0.645188
2                   7A5     -0.51
3                  A1BG   1.01067
4                 A2BP1   -1.1445
...                 ...       ...
17809        tcag7.1136     2.133
17810        tcag7.1260    3.9495
17811        tcag7.1314    -0.753
17812          tcag7.23     0.505
17813         tcag7.350  -0.06825

[17814 rows x 2 columns]

In [174]:
# check again
for i in range(nf_lusc):
    if df_lusc[i].shape[0] != 17814 or df_lusc[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [175]:
df_ov[0]

,Hybridization REF,TCGA-13-0888-01A-01R-0406-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.104583333333333
2,CREB3L1,0.73
3,RPS11,1.034125
4,PNMA1,1.0015
...,...,...
17810,PIK3IP1,1.42925
17811,SLC39A6,-2.902
17812,SNRPD2,0.7064
17813,AQP7,-0.4105
17814,CTSC,-0.0619

In [176]:
# drop first row and check the number of columns
for i in range(nf_ov):
    df_ov[i] = df_ov[i].drop(df_ov[i].index[0])
    df_ov[i] = df_ov[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_ov[i].shape[0] != 17814 or df_ov[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [177]:
df_ov[0]

      Hybridization REF TCGA-13-0888-01A-01R-0406-07
0                15E1.2                     -0.18875
1                2'-PDE                   -0.5705625
2                   7A5                         2.67
3                  A1BG                      -0.5245
4                 A2BP1           -0.539666666666667
...                 ...                          ...
17809        tcag7.1136                     -0.10275
17810        tcag7.1260                      -1.3555
17811        tcag7.1314                       -0.747
17812          tcag7.23                       0.2945
17813         tcag7.350                       -0.797

[17814 rows x 2 columns]

In [178]:
df_read[0]

,Hybridization REF,TCGA-AF-2692-01A-01R-0821-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,-0.391916666666667
2,CREB3L1,2.06075
3,RPS11,0.862
4,PNMA1,-2.05425
...,...,...
17810,PIK3IP1,1.72675
17811,SLC39A6,-2.7872
17812,SNRPD2,0.2091
17813,AQP7,-0.0805
17814,CTSC,0.5737

In [179]:
# drop first row and check the number of columns
for i in range(nf_read):
    df_read[i] = df_read[i].drop(df_read[i].index[0])
    df_read[i] = df_read[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_read[i].shape[0] != 17814 or df_read[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [180]:
df_read[0]

      Hybridization REF TCGA-AF-2692-01A-01R-0821-07
0                15E1.2                     -0.75325
1                2'-PDE                    0.7698125
2                   7A5                       2.8585
3                  A1BG            -2.46083333333333
4                 A2BP1                       -1.037
...                 ...                          ...
17809        tcag7.1136                         2.29
17810        tcag7.1260                       -0.032
17811        tcag7.1314                      1.48325
17812          tcag7.23                       0.0995
17813         tcag7.350                     -1.06975

[17814 rows x 2 columns]

In [181]:
df_ucec[0]

,Hybridization REF,TCGA-AP-A05J-01A-11R-A00V-07
0,Composite Element REF,log2 lowess normalized (cy5/cy3) collapsed by ...
1,ELMO2,0.188333333333333
2,CREB3L1,-0.1625
3,RPS11,1.157625
4,PNMA1,-0.60275
...,...,...
17810,PIK3IP1,1.478
17811,SLC39A6,-1.7382
17812,SNRPD2,0.5723
17813,AQP7,-1.2205
17814,CTSC,0.1145

In [182]:
# drop first row and check the number of columns
for i in range(nf_ucec):
    df_ucec[i] = df_ucec[i].drop(df_ucec[i].index[0])
    df_ucec[i] = df_ucec[i].sort_values(by=['Hybridization REF']).reset_index(drop=True)
    if df_ucec[i].shape[0] != 17814 or df_ucec[i].shape[1] != 2:
        print('mismatch at ', i)
        break

In [183]:
df_ucec[0]

      Hybridization REF TCGA-AP-A05J-01A-11R-A00V-07
0                15E1.2                     -0.75775
1                2'-PDE                    0.3780625
2                   7A5                       0.8685
3                  A1BG                       0.3795
4                 A2BP1            -1.11683333333333
...                 ...                          ...
17809        tcag7.1136                     -1.92575
17810        tcag7.1260                        0.234
17811        tcag7.1314                      1.50825
17812          tcag7.23                       -0.277
17813         tcag7.350                     -0.81825

[17814 rows x 2 columns]

In [ ]:
# incorporate the labels into the data for each type of cancer

In [ ]:
# check progress from above before proceeding

In [24]:
# transpose the dframe and remove the first column
for i in range(nf_kirc):
    df_kirc[i] = df_kirc[i].transpose().iloc[1:, 1:]

In [25]:
for i in range(nf_kirc - 1):
    df_kirc[0] = pd.concat([df_kirc[0], df_kirc[i + 1]], axis=0)
df_kirc[0]

,1,2,3,4,5,6,7,8,9,10,...,17805,17806,17807,17808,17809,17810,17811,17812,17813,17814
TCGA-A3-3306-01A-01R-0864-07,-0.519583333333333,-1.13275,1.328375,-0.798,-2.45583333333333,-2.03375,0.4275,0.7245,-0.753375,0.799,...,1.30683333333333,0.00899999999999999,-0.142833333333333,-0.612,0.1855,2.32825,-1.38,0.358,-0.225,0.5841
TCGA-A3-3320-01A-01R-0864-07,-0.865083333333333,-1.093,0.256625,0.3325,-2.43533333333333,-2.17975,0.379166666666667,1.05675,-0.371375,0.592,...,0.969666666666667,0.0245,0.1015,-0.8531,0.319,1.16525,-2.1072,-0.3175,0.2205,0.577
TCGA-A3-3331-01A-01R-0864-07,-0.68375,-1.00725,0.2615,0.47525,-1.886,-2.14975,0.503166666666667,1.1025,-0.167125,0.371,...,0.5015,0.14925,0.822666666666667,-0.8518,0.0905,2.438,-1.9912,-0.6223,0.891,1.2822
TCGA-A3-3365-01A-01R-0864-07,-0.55625,-0.7535,0.82175,0.40625,-1.26933333333333,-2.337,0.269666666666667,0.6995,-0.90525,0.347,...,0.19,-0.17475,0.4675,-0.8676,0.812,2.22375,-2.232,-0.2154,0.0965,0.7981
TCGA-AK-3440-01A-01R-0864-07,-0.376833333333333,0.782,0.656875,-0.568,-2.0375,-2.056,-0.3915,-0.94375,-0.78225,0.5595,...,1.1595,0.50225,-0.288333333333333,-0.7409,0.7585,3.61675,-3.5037,0.4496,0.3755,0.9152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-CJ-4638-01A-01R-1188-07,-0.828583333333333,-0.48525,-0.3555,-1.0045,-1.624,-1.64625,0.807333333333333,1.80225,-2.0865,1.1015,...,1.36483333333333,0.10175,-0.0491666666666667,0.2462,1.7165,3.3405,-3.3369,-0.3767,2.459,0.0377
TCGA-BP-4164-01A-01R-1188-07,-0.726166666666667,-1.34275,1.03325,0.00949999999999999,-1.9955,-2.832,0.0195,0.95775,-1.323875,1.0335,...,0.882333333333333,-0.279,0.348666666666667,-0.9008,0.523,2.065,-2.1485,-0.0438,1.1505,0.9425
TCGA-B8-4143-01A-01R-1188-07,-0.916916666666667,-0.5825,1.21575,-0.46225,-1.39166666666667,-1.8755,-0.642833333333333,1.02175,-1.92325,0.8765,...,-0.184,-0.39575,-0.0215,-0.4236,0.639,1.5555,-2.2725,0.5261,0.3855,1.1238
TCGA-BP-4167-01A-01R-1188-07,-0.7085,0.064,0.672875,-0.3015,-1.04933333333333,-1.7305,1.46116666666667,0.2215,-1.65814285714286,1.288,...,0.391166666666667,0.2645,-4.199,-0.5085,0.4095,1.9695,-3.4507,0.3265,-0.202,1.6206
TCGA-CJ-4640-01A-01R-1188-07,-0.2925,-0.75525,0.388,-0.50125,-1.26033333333333,-1.7145,0.56,1.03975,-1.0025,0.7985,...,0.366666666666667,0.02325,-0.961833333333333,0.134,-0.752,2.29425,-2.3642,-0.5881,-0.4535,1.3573

In [13]:
# for hospice data
from pandas_profiling import ProfileReport
df_hospice = {}
df_hospice['care'] = pd.read_excel("./hospiedata/care_translated.xlsx")
print('Care')

Care

In [14]:
df_hospice['therapy'] = pd.read_excel("./hospiedata/hospice_therapy_translated.xlsx")
print('Therapy')

Therapy

In [15]:
df_hospice['input_table'] = pd.read_excel("./hospiedata/input_table_translated.xlsx")
print('Input Table')

Input Table

In [16]:
df_hospice['obs_table'] = pd.read_excel("./hospiedata/obs_table_translated.xlsx")
print('Obs Table')

Obs Table

In [17]:
df_hospice['outcome'] = pd.read_excel("./hospiedata/outcome_translated.xlsx")
print('Outcome')

Outcome

In [18]:
df_hospice['care']

,IDCam,IDEHR,Author_Insert,TimeStamp_Insert,IDAccess,EHRType,PatientID,IDDigitalSignDocument,Not detectable,Note_Non_Rilevabile,...,dt_data_fine,dt_data_inizio,ds_note_y,opt_pregressa,opt_somm_terapia,opt_estemporanea,opt_termina,opt_somm_in_pompa,opt_farmaco,Note_al_bisogno
0,1.0,2339,Visconti Giovanna - VSCGNN70T70F205E,2015-05-14 12:25:05,9579.0,AMB,30487,71504.0,0.0,NR,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,11,Visconti Giovanna - VSCGNN70T70F205E,2015-05-14 12:27:12,9580.0,AMB,4,71507.0,0.0,NR,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1896,Visconti Giovanna - VSCGNN70T70F205E,2015-05-14 12:29:32,9581.0,AMB,10303,71514.0,0.0,NR,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1951,Visconti Giovanna - VSCGNN70T70F205E,2015-05-14 12:31:44,9582.0,AMB,20357,71517.0,0.0,NR,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2356,Visconti Giovanna - VSCGNN70T70F205E,2015-05-21 12:00:58,9651.0,AMB,30492,75129.0,0.0,NR,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93223,NaN,11906,PRISON SILVIA - PRGSLV79A63H264P,2017-07-31 13:12:53,82618.0,AMB,43948,834974.0,NaN,NaN,...,NaT,2017-07-13,NaN,0.0,0.0,0.0,1.0,0.0,Pregabalin (Lyrica 25 mg cps) # 1771,NaN
93224,NaN,11906,PRISON SILVIA - PRGSLV79A63H264P,2017-07-31 13:12:57,82618.0,AMB,43948,834975.0,NaN,NaN,...,NaT,2017-07-06,NaN,0.0,0.0,0.0,0.0,0.0,Other (see notes) # 2004,NaN
93225,NaN,11906,PRISON SILVIA - PRGSLV79A63H264P,2017-07-31 13:13:00,82618.0,AMB,43948,834976.0,NaN,NaN,...,NaT,2017-07-31,NaN,0.0,0.0,0.0,0.0,0.0,Macrogol / Sodium bic./Sodio Cl / KCl (13.8 g ...,NaN
93226,NaN,11906,PRISON SILVIA - PRGSLV79A63H264P,2017-07-31 13:13:03,82618.0,AMB,43948,834977.0,NaN,NaN,...,NaT,2017-07-31,NaN,0.0,0.0,0.0,0.0,0.0,Oxycodone / acetaminophen (DEPALGOS 10 + 325 m...,NaN
93227,NaN,11906,PRISON SILVIA - PRGSLV79A63H264P,2017-07-31 13:13:06,82618.0,AMB,43948,834978.0,NaN,NaN,...,NaT,2017-07-31,NaN,0.0,0.0,0.0,0.0,0.0,Fluconazole (DIFLUCAN 200 mg cps) # 1531,NaN

In [7]:
df_hospice['care'].head

<bound method NDFrame.head of        IDCam  IDEHR                         Author_Insert    TimeStamp_Insert  \
0        1.0   2339  Visconti Giovanna - VSCGNN70T70F205E 2015-05-14 12:25:05
1        2.0     11  Visconti Giovanna - VSCGNN70T70F205E 2015-05-14 12:27:12
2        3.0   1896  Visconti Giovanna - VSCGNN70T70F205E 2015-05-14 12:29:32
3        4.0   1951  Visconti Giovanna - VSCGNN70T70F205E 2015-05-14 12:31:44
4        5.0   2356  Visconti Giovanna - VSCGNN70T70F205E 2015-05-21 12:00:58
...      ...    ...                                   ...                 ...
93223    NaN  11906      PRISON SILVIA - PRGSLV79A63H264P 2017-07-31 13:12:53
93224    NaN  11906      PRISON SILVIA - PRGSLV79A63H264P 2017-07-31 13:12:57
93225    NaN  11906      PRISON SILVIA - PRGSLV79A63H264P 2017-07-31 13:13:00
93226    NaN  11906      PRISON SILVIA - PRGSLV79A63H264P 2017-07-31 13:13:03
93227    NaN  11906      PRISON SILVIA - PRGSLV79A63H264P 2017-07-31 13:13:06

       IDAccess EHRType  PatientID  IDDigitalSignDocument  Not detectable  \
0        9579.0     AMB      30487                71504.0             0.0
1        9580.0     AMB          4                71507.0             0.0
2        9581.0     AMB      10303                71514.0             0.0
3        9582.0     AMB      20357                71517.0             0.0
4        9651.0     AMB      30492                75129.0             0.0
...         ...     ...        ...                    ...             ...
93223   82618.0     AMB      43948               834974.0             NaN
93224   82618.0     AMB      43948               834975.0             NaN
93225   82618.0     AMB      43948               834976.0             NaN
93226   82618.0     AMB      43948               834977.0             NaN
93227   82618.0     AMB      43948               834978.0             NaN

      Note_Non_Rilevabile  ... dt_data_fine  dt_data_inizio ds_note_y  \
0                      NR  ...          NaT             NaT       NaN
1                      NR  ...          NaT             NaT       NaN
2                      NR  ...          NaT             NaT       NaN
3                      NR  ...          NaT             NaT       NaN
4                      NR  ...          NaT             NaT       NaN
...                   ...  ...          ...             ...       ...
93223                 NaN  ...          NaT      2017-07-13       NaN
93224                 NaN  ...          NaT      2017-07-06       NaN
93225                 NaN  ...          NaT      2017-07-31       NaN
93226                 NaN  ...          NaT      2017-07-31       NaN
93227                 NaN  ...          NaT      2017-07-31       NaN

      opt_pregressa opt_somm_terapia opt_estemporanea opt_termina  \
0               NaN              NaN              NaN         NaN
1               NaN              NaN              NaN         NaN
2               NaN              NaN              NaN         NaN
3               NaN              NaN              NaN         NaN
4               NaN              NaN              NaN         NaN
...             ...              ...              ...         ...
93223           0.0              0.0              0.0         1.0
93224           0.0              0.0              0.0         0.0
93225           0.0              0.0              0.0         0.0
93226           0.0              0.0              0.0         0.0
93227           0.0              0.0              0.0         0.0

       opt_somm_in_pompa                                        opt_farmaco  \
0                    NaN                                                NaN
1                    NaN                                                NaN
2                    NaN                                                NaN
3                    NaN                                                NaN
4                    NaN                                                NaN
...                  ...                                                ...
93223                0.0               Pregabalin (Lyrica 25 mg cps) # 1771
93224                0.0                           Other (see notes) # 2004
93225                0.0  Macrogol / Sodium bic./Sodio Cl / KCl (13.8 g ...
93226                0.0  Oxycodone / acetaminophen (DEPALGOS 10 + 325 m...
93227                0.0           Fluconazole (DIFLUCAN 200 mg cps) # 1531

      Note_al_bisogno
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
93223             NaN
93224             NaN
93225             NaN
93226             NaN
93227             NaN

[93228 rows x 39 columns]>

In [8]:
print("Num Rows: ", len(df_hospice['care'].index))

Num Rows:  93228

In [19]:
# do pickling for all dataframes in hospice data
# df_hospice['care'].to_pickle('./hospiedata/hospice_care.pkl')
# df_hospice['therapy'].to_pickle('./hospiedata/hospice_therapy.pkl')
# df_hospice['input_table'].to_pickle('./hospiedata/hospice_input_table.pkl')
# df_hospice['obs_table'].to_pickle('./hospiedata/hospice_obs_table.pkl')
# df_hospice['outcome'].to_pickle('./hospiedata/hospice_outcome.pkl')